@font-face {
    font-family: "Open Sans";
    src: url(./fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
    font-weight: 100 900;
}


button {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

.grid {
    display: flex;
    flex-direction: row;
    width: 740px;
    flex-wrap: wrap;
}

.grid-item {
    width: 46.25px;
    height: 46.25px;
    background-color: black;
}

.grid-hover {
    background-color: blue;
}

.btn-main {
    padding: 8px 16px;
    background-color: rgb(156, 114, 255);
    color: white;
    border-radius: 4px;
    margin-bottom: 24px;
}